name: Draw keymap image

on:
  workflow_dispatch:
  push:
    paths:
      - "config/**/*.keymap"
      - "config/**/*.dtsi"
      - "keymap_drawer.config.yaml"

jobs:
  draw:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    permissions:
      contents: write
    with:
      keymap_patterns: "config/*.keymap"
      output_folder: "docs/images"
      commit_message: "chore: update generated keymap image"
      fail_on_error: true
